// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


//Pager styling
.pagination{
  justify-content: center;
}

.pager-btm.pagination{
  margin: 0;
}
